/* [project]/src/app/pages/home/styles.module.css [app-client] (css) */
.styles-module__SjFYzW__topBar {
  padding-top: var(--size-2, 8px);
  padding-bottom: var(--size-2, 8px);
  box-sizing: border-box;
  background: var(--ds-color-neutral-background-tinted);
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.styles-module__SjFYzW__topBarContentWrapper {
  width: 100%;
  max-width: 1920px;
  padding-left: var(--size-12, 48px);
  padding-right: var(--size-12, 48px);
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
  gap: 29px;
  display: flex;
}

.styles-module__SjFYzW__topBarLink {
  align-items: center;
  gap: var(--size-2, 8px);
  color: var(--ds-color-neutral-text-default, #2b2b2b);
  font-size: var(--ds-body-sm-font-size, 14px);
  text-decoration: none;
  display: flex;
}

.styles-module__SjFYzW__topBarLink:hover {
  text-decoration: underline;
}

.styles-module__SjFYzW__heroContainer {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  line-height: 0;
  position: relative;
}

.styles-module__SjFYzW__buttonContainer {
  padding: var(--ds-size-6, 24px) var(--ds-size-30, 120px) var(--ds-size-0, 0px) var(--ds-size-30, 120px);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.styles-module__SjFYzW__contentContainer {
  padding: var(--ds-size-12, 48px) var(--ds-size-30, 120px);
  align-items: center;
  gap: var(--ds-size-6, 24px);
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.styles-module__SjFYzW__headingLarge {
  text-align: left;
  width: 100%;
  color: var(--ds-color-neutral-text-default, #2b2b2b);
  font-family: var(--ds-font-family, "Myriad VF", sans-serif);
  font-size: var(--ds-heading-lg-font-size, 36px);
  font-style: normal;
  font-weight: var(--ds-font-weight-semibold, 600);
  line-height: var(--ds-heading-lg-line-height, 1.3);
  letter-spacing: var(--ds-heading-lg-letter-spacing, -.18px);
  margin-bottom: var(--ds-size-6, 24px);
  align-self: flex-start;
  margin: 0;
}

.styles-module__SjFYzW__cardRowContainer {
  gap: var(--ds-size-6, 24px);
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  display: flex;
}

.styles-module__SjFYzW__cardRowContainer > * {
  flex-grow: 1;
  flex-basis: 280px;
  min-width: 280px;
  max-width: 600px;
}

.styles-module__SjFYzW__cardImageWrapper {
  aspect-ratio: 16 / 9;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.styles-module__SjFYzW__warningCard {
  border: var(--border-width-default, 1px) solid var(--color-neutral-border-subtle, #bcbcbc);
  background: var(--color-warning-background-tinted, #fcf2e2);
}

.styles-module__SjFYzW__warningCard a {
  color: inherit;
  height: 100%;
  text-decoration: none;
  display: block;
}

.styles-module__SjFYzW__warningCard > * h3 {
  font-size: var(--font-size-8, 36px);
  text-decoration-skip-ink: none;
  text-underline-offset: 24%;
  text-underline-position: from-font;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 10%;
  color: #2b2b2b !important;
}

.styles-module__SjFYzW__cardRowContainer > * h3, .styles-module__SjFYzW__cardRowContainer > * p {
  color: #2b2b2b !important;
}

@media (width <= 1023px) {
  .styles-module__SjFYzW__buttonContainer, .styles-module__SjFYzW__contentContainer, .styles-module__SjFYzW__topBarContentWrapper {
    padding-left: var(--ds-size-8, 32px);
    padding-right: var(--ds-size-8, 32px);
  }
}

/*# sourceMappingURL=src_app_pages_home_styles_module_css_f9ee138c._.single.css.map*/