/* [project]/src/app/components/Header/styles.module.css [app-client] (css) */
.styles-module__6Fmqha__header {
  padding-top: var(--size-4, 16px);
  padding-bottom: var(--size-7, 28px);
  background: var(--ds-color-neutral-background-default, #fff);
  box-sizing: border-box;
  border-bottom: 12px solid #da4236;
  align-self: stretch;
  align-items: center;
  width: 100%;
  display: flex;
}

.styles-module__6Fmqha__headerContentWrapper {
  width: 100%;
  max-width: 1920px;
  padding-left: var(--ds-size-30, 120px);
  padding-right: var(--ds-size-30, 120px);
  box-sizing: border-box;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.styles-module__6Fmqha__headerLeft {
  margin-right: var(--size-6, 24px);
  flex-shrink: 0;
  align-items: center;
  display: flex;
}

.styles-module__6Fmqha__headerLeft svg {
  max-width: 100%;
  height: auto;
  display: block;
}

.styles-module__6Fmqha__headerCenter {
  flex-grow: 1;
  justify-content: center;
  min-width: 0;
  display: flex;
}

.styles-module__6Fmqha__headerRight {
  flex-shrink: 0;
  align-items: center;
  margin-left: auto;
  display: flex;
}

.styles-module__6Fmqha__tabText {
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  font-size: var(--ds-font-size-3, 16px);
  margin: 0;
  padding: 0;
}

@media (width <= 1023px) {
  .styles-module__6Fmqha__headerContentWrapper {
    align-items: flex-start;
    gap: var(--size-4, 16px);
    padding-left: var(--ds-size-8, 32px);
    padding-right: var(--ds-size-8, 32px);
    flex-direction: column;
  }

  .styles-module__6Fmqha__headerLeft {
    order: 1;
    width: auto;
    margin-right: 0;
  }

  .styles-module__6Fmqha__headerCenter {
    order: 2;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    display: flex;
  }

  .styles-module__6Fmqha__headerRight {
    order: 3;
    justify-content: flex-start;
    width: auto;
    margin-left: 0;
    display: flex;
  }

  .styles-module__6Fmqha__headerCenter > .dds-tabs, .styles-module__6Fmqha__headerRight > .dds-tabs {
    justify-content: flex-start;
    width: 100%;
    display: flex;
  }

  .styles-module__6Fmqha__headerRight > .dds-button {
    width: auto;
  }

  .styles-module__6Fmqha__tabText {
    font-size: var(--ds-font-size-2, 14px);
  }
}


/* [project]/src/app/components/Footer/styles.module.css [app-client] (css) */
.styles-module__uzuznq__footerContainer {
  padding: var(--ds-size-9, 36px) 0 var(--ds-size-5, 20px) 0;
  border-top: 12px solid var(--ds-color-primary-brand-base-default);
  background: var(--ds-color-neutral-background-tinted, #f3f3f3);
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
}

.styles-module__uzuznq__footerContentWrapper {
  align-items: flex-start;
  gap: var(--ds-size-10, 40px);
  width: 100%;
  max-width: 1920px;
  padding: 0 var(--ds-size-30, 120px);
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}

.styles-module__uzuznq__topSection {
  justify-content: space-between;
  align-self: stretch;
  align-items: flex-start;
  gap: var(--ds-size-12);
  flex-wrap: wrap;
  width: 100%;
  display: flex;
}

.styles-module__uzuznq__leftColumn, .styles-module__uzuznq__rightColumn {
  align-items: flex-start;
  gap: var(--ds-size-4, 16px);
  flex-direction: column;
  flex: 1;
  min-width: 250px;
  display: flex;
}

.styles-module__uzuznq__rightColumn {
  max-width: 550px;
}

.styles-module__uzuznq__footerList {
  align-items: flex-start;
  gap: var(--size-2, 7px);
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.styles-module__uzuznq__footerListItem {
  width: 100%;
  margin: 0;
}

.styles-module__uzuznq__linkWithIcon {
  align-items: center;
  gap: var(--ds-size-1, 4px);
  display: inline-flex;
}

.styles-module__uzuznq__middleSection {
  align-items: flex-start;
  gap: var(--ds-size-13, 52px);
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  display: flex;
}

.styles-module__uzuznq__middleLinkColumns {
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--ds-size-22, 88px);
  flex-wrap: wrap;
  align-self: stretch;
  display: flex;
}

.styles-module__uzuznq__listColumn {
  align-items: flex-start;
  gap: var(--ds-size-2, 8px);
  flex-direction: column;
  min-width: 200px;
  display: flex;
}

.styles-module__uzuznq__infoContainer {
  align-items: flex-start;
  gap: var(--ds-size-3, 12px);
  flex-direction: column;
  display: flex;
}

.styles-module__uzuznq__infoLine {
  color: var(--ds-color-neutral-text-default, #2b2b2b);
  font-family: var(--ds-font-family, "Myriad VF", sans-serif);
  font-size: var(--ds-font-size-3, 14px);
  letter-spacing: .035px;
  margin: 0;
  line-height: 150%;
}

.styles-module__uzuznq__infoLabel {
  margin-right: var(--ds-size-1, 4px);
  font-weight: 700;
}

.styles-module__uzuznq__bottomSection {
  align-items: flex-start;
  gap: var(--ds-size-11, 44px);
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  display: flex;
}

.styles-module__uzuznq__copyrightSection {
  justify-content: flex-start;
  align-items: center;
  gap: var(--ds-size-26, 104px);
  width: 100%;
  padding-top: var(--ds-size-5, 20px);
  flex-flow: wrap;
  align-self: stretch;
  display: flex;
}

.styles-module__uzuznq__membershipInfo {
  align-items: center;
  gap: var(--ds-size-2, 8px);
  display: flex;
}

.styles-module__uzuznq__copyrightText {
  color: var(--ds-color-neutral-text-default, #2b2b2b);
  font-family: var(--ds-font-family, "Myriad VF", sans-serif);
  font-size: var(--ds-font-size-3, 16px);
  font-style: normal;
  font-weight: var(--ds-font-weight-regular, 400);
  line-height: var(--ds-line-height-md, 1.5);
  letter-spacing: .08px;
}

@media (width <= 1023px) {
  .styles-module__uzuznq__footerContentWrapper {
    padding-left: var(--ds-size-8, 32px);
    padding-right: var(--ds-size-8, 32px);
  }
}


/* [project]/src/app/pages/home/styles.module.css [app-client] (css) */
.styles-module__SjFYzW__topBar {
  padding-top: var(--size-2, 8px);
  padding-bottom: var(--size-2, 8px);
  box-sizing: border-box;
  background: var(--ds-color-neutral-background-tinted);
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.styles-module__SjFYzW__topBarContentWrapper {
  width: 100%;
  max-width: 1920px;
  padding-left: var(--size-12, 48px);
  padding-right: var(--size-12, 48px);
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
  gap: 29px;
  display: flex;
}

.styles-module__SjFYzW__topBarLink {
  align-items: center;
  gap: var(--size-2, 8px);
  color: var(--ds-color-neutral-text-default, #2b2b2b);
  font-size: var(--ds-body-sm-font-size, 14px);
  text-decoration: none;
  display: flex;
}

.styles-module__SjFYzW__topBarLink:hover {
  text-decoration: underline;
}

.styles-module__SjFYzW__heroContainer {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  line-height: 0;
  position: relative;
}

.styles-module__SjFYzW__buttonContainer {
  padding: var(--ds-size-6, 24px) var(--ds-size-30, 120px) var(--ds-size-0, 0px) var(--ds-size-30, 120px);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.styles-module__SjFYzW__contentContainer {
  padding: var(--ds-size-12, 48px) var(--ds-size-30, 120px);
  align-items: center;
  gap: var(--ds-size-6, 24px);
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.styles-module__SjFYzW__headingLarge {
  text-align: left;
  width: 100%;
  color: var(--ds-color-neutral-text-default, #2b2b2b);
  font-family: var(--ds-font-family, "Myriad VF", sans-serif);
  font-size: var(--ds-heading-lg-font-size, 36px);
  font-style: normal;
  font-weight: var(--ds-font-weight-semibold, 600);
  line-height: var(--ds-heading-lg-line-height, 1.3);
  letter-spacing: var(--ds-heading-lg-letter-spacing, -.18px);
  margin-bottom: var(--ds-size-6, 24px);
  align-self: flex-start;
  margin: 0;
}

.styles-module__SjFYzW__cardRowContainer {
  gap: var(--ds-size-6, 24px);
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  display: flex;
}

.styles-module__SjFYzW__cardRowContainer > * {
  flex-grow: 1;
  flex-basis: 280px;
  min-width: 280px;
  max-width: 600px;
}

.styles-module__SjFYzW__cardImageWrapper {
  aspect-ratio: 16 / 9;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.styles-module__SjFYzW__warningCard {
  border: var(--border-width-default, 1px) solid var(--color-neutral-border-subtle, #bcbcbc);
  background: var(--color-warning-background-tinted, #fcf2e2);
}

.styles-module__SjFYzW__warningCard a {
  color: inherit;
  height: 100%;
  text-decoration: none;
  display: block;
}

.styles-module__SjFYzW__warningCard > * h3 {
  font-size: var(--font-size-8, 36px);
  text-decoration-skip-ink: none;
  text-underline-offset: 24%;
  text-underline-position: from-font;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 10%;
  color: #2b2b2b !important;
}

.styles-module__SjFYzW__cardRowContainer > * h3, .styles-module__SjFYzW__cardRowContainer > * p {
  color: #2b2b2b !important;
}

@media (width <= 1023px) {
  .styles-module__SjFYzW__buttonContainer, .styles-module__SjFYzW__contentContainer, .styles-module__SjFYzW__topBarContentWrapper {
    padding-left: var(--ds-size-8, 32px);
    padding-right: var(--ds-size-8, 32px);
  }
}


/*# sourceMappingURL=src_app_c123b0bc._.css.map*/